
.vscode/
.DS_Store
*.swp
node_modules/
dist/
build/
.env
.venv/
venv/
__pycache__/
*.log
__pycache__/

# Cơ sở dữ liệu SQLite
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/
.idea/

.pytest_cache/

# Tệp log
*.log
/logs/

# Thư mục môi trường ảo phổ biến
venv/
env/
.venv/
Backend/.env

# Các tệp bytecode
*.pyc
*.pyd
*.pyo

# Các tệp tạm thời của Python khi build
*.egg
*.whl
*.egg-info/
.eggs/
/build/
/dist/

